
    body,main,nav{
        background: linear-gradient(rgba(17, 17, 17, 0.788),rgb(255, 5, 26));
        
    }
    footer,header{
        background: linear-gradient(rgb(255, 5, 26),rgba(17, 17, 17, 0.788));
        
    }
    header{
      margin: 0;          
      position: relative;
      height: 250px;
      width: 500 px;  
    }
    footer{
        
        height: 195px;
        width: 240 px;
    }
    .logo{
        height: 250px;
        width: 180px;
        float: left;
    }
    .titre{
        text-align: center;
        position:absolute;
        bottom: 80px;
        left: 220px;
    }
     .carousel{
         width: auto;
         height: 300px;
     }
    
    #prem{
        width: 250px;
    }

     .nav-link:hover {
        background-color: #000000 !important
    }
    .bi{
        font-size: 50px;
        color: blue;
    }
    .carousele{
        width: auto;
         height: 300px;
    }
    

    
    
    